/_site/
/.quarto/
/.make-tmp/
.DS_Store
.ipynb_checkpoints/
__pycache__/
*.pyc
*.key

**/*.quarto_ipynb
IntroParticlePhysicsBaikal/outputs/
IntroParticlePhysicsBaikal/.quarto/
IntroParticlePhysicsBaikal/slides/*.html
IntroParticlePhysicsBaikal/slides/*_files/
IntroParticlePhysicsBaikal/handouts/*.html
IntroParticlePhysicsBaikal/handouts/*_files/
ParticlePhysics/**/_book/
ParticlePhysics/**/.quarto/
